# محیط مجازی
venv/
env/
.venv/

# فایل‌های کامپایل شده
__pycache__/
*.pyc
*.pyo

# فایل‌های موقت
*.log
*.tmp

# فایل‌های سیستمی
.DS_Store
Thumbs.db

# پوشه‌های اید
.vscode/
.idea/

# فایل‌های حساس
.env
config.py